<div class="word-component">
    <div class="header-wrap">
        <div class="breadcrumb">
            <a mat-button [routerLink]="['/']">
                <mat-icon>arrow_back</mat-icon>
                "{{word}}"
            </a>
        </div>
        <mat-divider></mat-divider>
    </div>

    <mat-progress-bar *ngIf="!decomposition" mode="indeterminate"></mat-progress-bar>

    <div class="content" *ngIf="decomposition">
        <app-characters-and-pinyin [characters]="decomposition?.translation" [pinyin]="pinyin"></app-characters-and-pinyin>
        
        <div *ngIf="decomposition" class="character-decompositions">
            <app-character-card *ngFor="let character of decomposition.characters" [decomposition]="character"></app-character-card>
        </div>
    </div>
</div>