@use '@angular/material' as mat;
@import 'src/theme/theme';

button {
    text-transform: uppercase;
}

.header-wrap {
    display: flex;
    margin: 1rem 0;

    .page-title {
        display: flex;

        .pinyin {
            color: mat.get-color-from-palette($primary, 200);
            margin-left: 1.2rem;
        }
    }
}

.loading {
    padding: 1rem 0 0 0;

    p {
        padding: 1rem 0 0 0;
        text-align: center;
    }
}

.character-decompositions {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;

    app-character {
        display: block;
    }
}