.breadcrumb {
    mat-icon {
        margin-bottom: 2px;
    }

    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    justify-items: center;
    margin-top: 1rem;
    padding: 1rem;

    h2 {
        display: block;
    }

    .title-pinyin {
        color: #888888;
        font-size: 2.5rem;
        margin-left: 1rem;
        padding-top: 0.5rem;
    }
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

button {
    text-transform: uppercase;
}

.character-decompositions {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;

    app-character {
        display: block;
    }
}