<div class="word-component">
    <div class="loading" *ngIf="!decomposition">
        <mat-progress-bar *ngIf="!decomposition" mode="indeterminate" color="accent"></mat-progress-bar>
        <p>Looking up <strong>{{word}}</strong>...</p>
        <p class="heroku-note">
            Don't worry if this takes awhile. Morph is (gratefully) hosted on free servers at
            <a href="https://heroku.com" target="_blank" class="text-link">Heroku</a>. The downside of this is that the app goes
            to sleep if it isn't used for awhile, so it takes it a bit to wake up. If you look up more words in the next
            15 minutes or so, Morph will be much faster 👍🏻
        </p>
    </div>

    <div class="content" *ngIf="decomposition">
        <div class="header-wrap" *ngIf="decomposition">
            <button mat-icon-button [routerLink]="['/']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2 class="page-title">
                <div class="word">{{decomposition.word.l1 | lowercase}}</div>
                <div class="pinyin">({{pinyin}})</div>
            </h2>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="decomposition" class="character-decompositions">
            <app-character-card *ngFor="let character of decomposition.characters" [decomposition]="character"></app-character-card>
        </div>
    </div>
</div>