@use 'sass:map';
@import 'src/theme/globals';

.header-wrap {
    display: flex;
    margin: 1rem 0;

    .page-title {
        display: flex;

        .pinyin {
            color: map.get($primary-palette-def, 200);
            // i need to figure out how to access mat functions without accidentally bloating/duplicating.
            // this threw an over-budget error, so i have to manually get the shade from the map instead
            // color: mat.get-color-from-palette($primary, 200);
            margin-left: 1.2rem;
        }
    }
}

.loading {
    padding: 1rem 0 0 0;

    p {
        padding: 1rem 0 0 0;
        text-align: center;
    }

    .heroku-note {
        font-style: italic;
    }
}

.character-decompositions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;

    app-character-card {
        display: block;
        flex-grow: 1;
    }
}