@use '@angular/material' as mat;
@include mat.core();
@import 'globals';

// https://material.angular.io/guide/theming#custom-themes-with-sass
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

$primary: mat.define-palette($primary-palette-def);
$accent: mat.define-palette(mat.$orange-palette, 500);

$light-theme: mat.define-light-theme((
    color: (
        primary: $primary,
        accent: $accent
    )
));

@include mat.all-component-themes($light-theme);