<div class="character-component">
    <div class="character-wrap" *ngIf="character$ | async as characterData">
        <div class="character-and-pinyin">
            <p class="big-character">{{characterData.character}}</p>
            <p class="character-pinyin">{{characterData.pinyin}}</p>
        </div>
        <div class="other-info flex-child">
            <ul class="fact-list">
                <li>
                    <h1 class="fact-header">Definitions</h1>
                    <div>
                        <ul class="flex-list">
                            <li *ngFor="let definition of characterData.definitions">{{definition}}</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <h1 class="fact-header">Common words</h1>
                    <div>
                        <ul class="flex-list">
                            <li *ngFor="let wordData of characterData.commonWords">
                                <a [routerLink]="'/word/' + wordData.word">{{wordData.word}}</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="characterData.semanticRadical">
                    <h1 class="fact-header">Semantic radical</h1>
                    <div class="semantic-radical">
                        {{characterData.semanticRadical.radical}} <span *ngIf="characterData.semanticRadical.definitions">({{characterData.semanticRadical.definitions}})</span> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>