<h1 mat-dialog-title>Welcome!</h1>
<div mat-dialog-content>
    <p>
        Thanks for trying Morph! I'm super excited to explore this idea, and special thanks to Professor Gao's class at Carnegie Mellon University. A project
        always gets better when Tartans are involved 😁.
    </p>

    <p>
        Morph is in an extremely pre-alpha state. It may sometimes break or become unavailable, and some of the information it currently provides is slightly incorrect. (For example,
        look up <a href="/word/subway" target="_blank">"subway"</a> and observe the incorrectness of the Pinyin.) Sorry about this. I'm working as often as I'm able to make Morph useful and reliable, but
        I'm also a PhD student in a largely unrelated area, so my time (and funding) is limited. 
    </p>

    <p>
        If you think Morph is useful and want to help, the best thing you can do is submit suggestions or feedback using the link on the main page (or at my Github repository 
        <a href="https://github.com/jammerware/morph" target="_blank">here</a>.) Thanks in advance, and I hope Morph makes your day better!
    </p>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Got it</button>
</div>