.search-box-component {
    padding-top: 12px;
}

form {
    display: block;

    .form-row {
        display: flex;

        mat-form-field {
            display: block;
            flex-grow: 1;
            margin-right: 1rem;
        }
    }

    input {
        font-size: 3rem;
    }

    button {
        height: 90px;
    }
}

.full-width {
    width: 100%;
}