<div class="search-box-component">
  <form id="search" #search="ngForm" (ngSubmit)="formSubmit" (keydown.enter)="onEnter($event)">
    <div class="form-row">
      <mat-form-field class="full-width" [hideRequiredMarker]=" true" subscriptSizing="dynamic">
        <mat-label> Try "{{(placeholder$ | async) || defaultHint}}"</mat-label>
        <input #queryInput name="query" [(ngModel)]="query" type="text" matInput minlength="2" autocomplete="off"
          appAutofocus>
      </mat-form-field>
      <button type="button" mat-flat-button color="primary" (click)="raise()" [disabled]="query.length < 2">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</div>