@use 'sass:map';
@import 'theme/globals';

/* RESET */

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
}

/* FONTS */
@font-face {
  font-family: 'Noto Sans SC';
  src: url('assets/fonts/NotoSansSC-Regular.otf'), url('assets/fonts/NotoSansSC-Black.otf'), url('assets/fonts//NotoSansSC-Bold.otf'), url('assets/fonts/NotoSansSC-Light.otf'), url('assets/fonts/NotoSansSC-Medium.otf'), url('assets/fonts/NotoSansSC-Thin.otf');
}

.app-logo-font {
  font-family: 'Passion One', Roboto, sans-serif;
  text-transform: lowercase;
}

.chinese {
  font-family: 'Noto Sans SC', sans-serif !important;
}

/* GLOBAL STYLES */
html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;

  &.text-link {
    color: map.get($primary-palette-def, 300);
    font-weight: bold;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  text-transform: uppercase;
}

.flex-spacer {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.page-title {
  font-size: 4rem !important;
}