.about-component {
    padding-top: 1rem;
    
    a {
        text-decoration: underline;
    }

    ul {
        list-style-type: square;

        li {
            margin-left: 1rem;
        }
    }
    
    h2 {
        margin-bottom: 0.2rem;

        &:not(:first-of-type) {
            margin-top: 2rem;
        }
    }

    .app-logo-font {
        font-size: 2rem;
    }
}