<div class="character-card-component">
    <div class="content-wrap">
        <a [routerLink]="getCharacterLink(decomposition.character)">
            <p class="character-big chinese">
                {{decomposition.character}}
            </p>
            <p class="character-pinyin">{{decomposition.pinyin}}</p>
        </a>
        <div class="definitions">
            <ul>
                <li *ngFor="let definition of decomposition.definitions">{{definition}}</li>
            </ul>
        </div>
        
        <ul>
            <li><strong>{{decomposition.freqRank}}{{numberSuffix}}</strong> most common character</li>
            <li><strong>{{decomposition.strokeCount}}</strong> strokes</li>
        </ul>
    </div>
</div>